* {
    border: #00FF00 solid 1px;
    margin: 0px;
    padding: 0px;
}
body {
    height: 100svh;
    background-color: #0d508f;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    background-color: white;
    padding: 1rem;
}
#container {
    background-color: #e046d9;
    padding: 1rem;
    margin: 1rem;
    max-width: 100rem;
    display: flex

}
.no-padding {
    padding: 0;
}
.grid-box {

}